<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="placeholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:url.properties</value>
            </list>
        </property>
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="com.github.charadziej.project.client"/>

    <bean id="customResponseErrorHandler" class="com.github.charadziej.project.client.rest.CustomResponseErrorHandler"/>

    <bean id="mapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <property name="timeZone" value="Europe/Minsk"/>
    </bean>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="objectMapper" ref="mapper"/>
                </bean>
            </list>
        </property>
        <property name="errorHandler" ref="customResponseErrorHandler"/>
    </bean>

    <bean id="hardwareTypeConsumerRest" class="com.github.charadziej.project.client.rest.HardwareTypeRestConsumer">
        <constructor-arg index="0" type="java.lang.String" value="${protocol}://${host}:${port}"/>
        <constructor-arg index="1" type="java.lang.String" value="${types}"/>
        <constructor-arg index="2" type="java.lang.String" value="${type}"/>
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

    <bean id="hardwareModelConsumerRest" class="com.github.charadziej.project.client.rest.HardwareModelRestConsumer">
        <constructor-arg index="0" type="java.lang.String" value="${protocol}://${host}:${port}"/>
        <constructor-arg index="1" type="java.lang.String" value="${models}"/>
        <constructor-arg index="2" type="java.lang.String" value="${model}"/>
        <property name="restTemplate" ref="restTemplate"/>
    </bean>

</beans>