<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:vertical-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>New type</h1>
    </div>
    <form method="post" th:action="@{/type}">
        <div class="form-group">
            <label>Type name:</label>
            <input type="text" class="form-input" name="typeName">
        </div>
        <button type="submit" class="btn btn-default">Add</button>
        <a class="btn btn-default" href="#" th:href="@{/types}">Cancel</a>
    </form>
</div>

</body>
</html>