<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../resources/static/assets/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Edit type</h1>
    </div>
    <form method="post" th:action="@{/type/update}" th:object="${hardwareType}">
        <div class="form-group">
            <input type="hidden" th:field="*{typeId}" name="typeId" />
            <label>Type name:</label>
            <input type="text" class="form-input" name="typeName" th:field="*{typeName}" id="typeName">
        </div>
        <button type="submit" class="btn btn-default" onclick="return checkType();">Edit</button>
        <a class="btn btn-default" href="#" th:href="@{/types}">Cancel</a>
    </form>
</div>

<script src="../../resources/static/assets/js/jquery.min.js"></script>
<script src="../../resources/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../resources/static/assets/js/validate.js"></script>

</body>
</html>