<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:vertical-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="../../resources/static/assets/bootstrap/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#" th:href="@{/types}">Types</a></li>
            <li><a class="navbar-brand" href="#"th:href="@{/models}">Models</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-nav" href="#" th:href="@{/model/add}">Add</a></li>
        </ul>
        <form class="navbar-form navbar-right" method="post" th:action="@{/models/period}">
            <div class="form-group">
                <label for="begin">From  </label>
                <input type="text" placeholder="yyyy-MM-dd" class="form-control" id="begin" name="begin"/>
                <label for="end">To  </label>
                <input type="text" placeholder="yyyy-MM-dd" class="form-control" id="end" name="end"/>
            </div>
            <button type="submit" class="btn btn-default">Sort</button>
        </form>
    </div>
</nav>
<div class="container">
    <h2>Hardware models</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Model</th>
            <th>Type</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="model : ${modelsList}">
            <td th:text="${model.modelName}"></td>
            <td th:text="${model.modelType}"></td>
            <td th:text="${model.releaseDate}"></td>
            <td>
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" href="#" th:href="@{/model/edit(modelId=${model.modelId})}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <form class="btn btn-default" method="post" th:action="@{/model/delete(modelId=${model.modelId})}">
                        <button type="submit" class="glyphicon glyphicon-trash" style="border: none;
                            background-color: transparent;
                            outline: none;">
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../../resources/static/assets/js/jquery.min.js"></script>
<script src="../../resources/static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>